<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
      integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="stylesss.css" />
    -->
  </head>
  <body>
    <div ng-app="mainApp" class="log-inbox">
      <div ng-controller="people">
        <!-- <ul>
          <h2>Names and Ages</h2>
          <li ng-repeat="person in persons">{{person.name}}</li>
        </ul> -->

        <input
          type="text"
          name=""
          id="ghu"
          ng-model="name"
          placeholder="your name"
        />
        <!-- //<p>You entered: {{name}}</p> -->
        <br />
        <br />
        <input
          type="text"
          name=""
          id="ghu"
          ng-model="email"
          placeholder="your email"
        />
        <br />
        <br />
        <input
          type="text"
          name=""
          id="ghu"
          ng-model="blogname"
          placeholder="blogname"
        />
        <br />
        <br />
        <input
          type="text"
          name=""
          id="ghu"
          ng-model="abstract"
          placeholder="blog abstract"
        />
        <br />
        <br />
        <input
          type="text"
          name=""
          id="ghu"
          ng-model="content"
          placeholder="content"
        />
        <br />
        <br />
        <button
          id="demo"
          ng-click="myFunc(name,email,blogname,abstract,content)"
        >
          submit
        </button>
      </div>
    </div>
    <script src="controller.js"></script>
  </body>
</html>
